# ========== Unity ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Unity User Settings
UserSettings/

# Visual Studio / Rider
*.csproj
*.sln
*.unityproj
*.user
*.userprefs
*.suo
*.tmp

# VS Code / IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

